In [3]:
# Program to connect with Alpha Vantage API and fetch the data.

The following command installs a wrapper for original Alpha Vantage API (https://www.alphavantage.co). The wrapper is more user friendly for Python projects but is maintained by an open-source project and might have bugs. One can refer to https://github.com/RomelTorres/alpha_vantage for latest updates on the API. If needed, one can always use Alpha Vantage API without wrappers which will be more stable.

In [1]:
!pip install alpha_vantage

Requirement already satisfied: alpha_vantage in c:\python3.9.2\lib\site-packages (2.3.1)
Requirement already satisfied: requests in c:\python3.9.2\lib\site-packages (from alpha_vantage) (2.25.1)
Requirement already satisfied: aiohttp in c:\python3.9.2\lib\site-packages (from alpha_vantage) (3.7.4.post0)
Requirement already satisfied: attrs>=17.3.0 in c:\python3.9.2\lib\site-packages (from aiohttp->alpha_vantage) (20.3.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\python3.9.2\lib\site-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: async-timeout<4.0,>=3.0 in c:\python3.9.2\lib\site-packages (from aiohttp->alpha_vantage) (3.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\python3.9.2\lib\site-packages (from aiohttp->alpha_vantage) (1.6.3)
Requirement already satisfied: chardet<5.0,>=2.0 in c:\python3.9.2\lib\site-packages (from aiohttp->alpha_vantage) (4.0.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\python3.9.2\lib\site-packages (from aiohttp->alpha_vantage) (5.1.0)
Requirement already satisfied: idna>=2.0 in c:\python3.9.2\lib\site-packages (from yarl<2.0,>=1.0->aiohttp->alpha_vantage) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\python3.9.2\lib\site-packages (from requests->alpha_vantage) (1.26.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\python3.9.2\lib\site-packages (from requests->alpha_vantage) (2020.12.5)

WARNING: You are using pip version 21.0.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\python3.9.2\python.exe -m pip install --upgrade pip' command.

In [2]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import numpy as np
import requests

In [9]:
av_config = {
    "api_key" : "CAJQJUOCIIL391KR",
    "symbol" : "TCS.BSE",
    "opsize" : "compact",
    "opformat" : "pandas"
}

In [10]:
ts = TimeSeries(key=av_config["api_key"], output_format=av_config["opformat"])
data, meta_data = ts.get_daily_adjusted(symbol=av_config["symbol"], outputsize=av_config["opsize"])

In [11]:
data

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2021-09-16,3938.00,3981.5500,3891.9500,3902.5000,3902.5000,117036.0,0.0,1.0
2021-09-15,3889.95,3980.0000,3866.4500,3954.8000,3954.8000,130664.0,0.0,1.0
2021-09-14,3849.50,3895.6001,3828.6499,3885.1499,3885.1499,31541.0,0.0,1.0
2021-09-13,3761.00,3851.8999,3761.0000,3843.8999,3843.8999,82516.0,0.0,1.0
2021-09-09,3799.00,3809.7000,3765.1499,3791.7500,3791.7500,38234.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2021-04-30,3111.00,3132.7000,3021.0000,3038.4000,3017.0258,69616.0,0.0,1.0
2021-04-29,3142.00,3156.3000,3105.4000,3113.2000,3091.2996,62825.0,0.0,1.0
2021-04-28,3143.00,3150.5000,3112.0000,3123.8000,3101.8251,39238.0,0.0,1.0
2021-04-27,3103.00,3135.1000,3103.0000,3131.6000,3109.5702,43362.0,0.0,1.0
2021-04-26,3109.80,3151.9500,3088.1000,3101.1000,3079.2848,96633.0,0.0,1.0

In [31]:
def get_stocksymbol(query):
    url = 'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords={}&apikey={}&datatype=json'.format(requests.utils.quote(query), av_config['api_key'])
    csv_op = requests.get(url)
    return pd.DataFrame(csv_op.json()['bestMatches'])

In [22]:
csv_op = get_stocksymbol('TATA')

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,TATASTEEL.BSE,Tata Steel Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.5000
1,TATACONSUM.BSE,Tata Global Beverages Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.4706
2,TATAMOTORS.BSE,Tata Motors Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.4706
3,TATASTLBSL.BSE,Tata Steel Bsl Ltd,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.4706
4,TTAZF,Tata Consumer Products Ltd,Equity,United States,09:30,16:00,UTC-04,USD,0.4444
5,532301.BSE,Tata Coffee Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.3478
6,500770.BSE,Tata Chemicals Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.3077
7,500483.BSE,Tata Communications Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.2581
8,500800.BSE,Tata Consumer Products Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.2353
9,TCS.BSE,Tata Consultancy Services Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.2162

In [8]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key

url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol=TATASTEEL.BSE&apikey=CAJQJUOCIIL391KR'
r = requests.get(url)
data = r.json()

print(data)

{}

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in c:\python3.9.2\lib\site-packages (from yfinance) (1.2.3)
Requirement already satisfied: numpy>=1.15 in c:\python3.9.2\lib\site-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in c:\python3.9.2\lib\site-packages (from yfinance) (2.25.1)

WARNING: You are using pip version 21.0.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\python3.9.2\python.exe -m pip install --upgrade pip' command.

Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp39-cp39-win_amd64.whl (3.5 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python3.9.2\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\python3.9.2\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\python3.9.2\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\python3.9.2\lib\site-packages (from requests>=2.20->yfinance) (1.26.3)
Requirement already satisfied: idna<3,>=2.5 in c:\python3.9.2\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\python3.9.2\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\python3.9.2\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23909 sha256=c9262bcc5f8e575df8f04f0aeffd0c33a34f0513b97d6aa97da5bc6f9b75a0a7
  Stored in directory: c:\users\ashde\appdata\local\pip\cache\wheels\44\19\52\4db92c8786b13e717b9664529da13bf8d7b74aff580ca64fc0
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8368 sha256=7048efcb59dedb17fa04129cd95ad2f0861b8beea6757ffa94c36947b8a367d8
  Stored in directory: c:\users\ashde\appdata\local\pip\cache\wheels\1d\13\0b\0c32509050dcd9264e9a90b1d9d2dc9c6db9538db151ea7d26
Successfully built yfinance multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.6.3 multitasking-0.0.9 yfinance-0.1.63

In [2]:
import yfinance as yf
tcs = yf.Ticker("TCS.BO")

yfinance.Ticker object <TCS.BO>

In [19]:
tcs.history(period='1y', interval='1d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-09-17,2454.346103,2462.241064,2420.397865,2427.750000,83371,0.0,0
2020-09-18,2447.438220,2468.162496,2403.769212,2418.572266,57975,0.0,0
2020-09-21,2427.701023,2472.110188,2421.385149,2432.240723,127699,0.0,0
2020-09-22,2452.175281,2520.466655,2426.171153,2490.416504,264321,0.0,0
2020-09-23,2477.044322,2483.952414,2378.357298,2434.756836,238132,0.0,0
...,...,...,...,...,...,...,...
2021-09-13,3761.000000,3851.899902,3761.000000,3843.899902,82516,0.0,0
2021-09-14,3849.500000,3895.600098,3828.649902,3885.149902,31541,0.0,0
2021-09-15,3889.949951,3980.000000,3866.449951,3954.800049,130664,0.0,0
2021-09-16,3938.000000,3981.550049,3891.949951,3902.500000,117036,0.0,0
2021-09-17,3930.000000,3944.399902,3806.899902,3830.449951,109484,0.0,0